<li id="<%= dom_id(todo_item)%>">
  <%= todo_item.content %>
  <%= display_datetime_local(todo_item.due_by) %>
  <%= link_to "Mark as done", root_path %>
  <%= link_to "Edit", edit_todo_list_todo_item_path(todo_item) %>
</li>
