<%= form_for [@todo_list, @todo_item] do |form| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <div class="form-field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <!-- Normally would prefer to use a better browser-supported Javascript based date select field,
       though I think the HTML5 field will do fine for purposes of this project. -->
  <div class="form-field">
    <%= form.label :due_date %>
    <%= form.datetime_local_field :due_date %>
  </div>
  <%= form.submit "Save" %>
<% end %>
